.footer{
    background:url(#{$imgPath}bottom-bg.png) no-repeat;
    background-size:cover;
    padding:74px 0 139px;
    color:$footerText;
    text-align:center;
}
.footer-title{
    text-transform:uppercase;
    font-size:44px;
    line-height:1;
    margin-bottom:13px;
}
.footer-sub-title{
    font-style: font(300);
    letter-spacing:0;
    margin-bottom:43px;
}
.footer-form{
    width:456px;
    margin:0 auto;
    .input-wrapper{
        float:left;
        width:310px;
        position:relative;
        .place-holder{
            color:$placeHolder;
            font:16px/40px font(300);
            letter-spacing:0px;
            position:absolute;
            pointer-events:none;
            left:18px;
            bottom:0px;
        }
        input{
            width:100%;
            padding:0 18px;
            background:$inputBack;
            border:1px solid $inputBack;
            font:16px/40px font(300);
            letter-spasing:0;
            color:$textColor;
            height:42px;
            &.error{
                border:1px solid $errorColor;
                color:$errorColor;
            }
            &:focus ~ .place-holder,
            &.valid ~ .place-holder,
            &.error ~ .place-holder{
                bottom:80%;
                color:$footerText;
            }
        }
        label.error{
            position:absolute;
            top:100%;
            left:0;
            right:0;
            color:$errorColor;
            text-align:left;
        }
    }
    .submit-wrapper{
        float:right;
        margin-left:13px;
    }
    .submit-btn{
        display:inline-block;
        vertical-align:top;
        background:$footerBtnBack;
        color:$footerBtnColor;
        font:16px/20px font(500);
        letter-spacing:0;
        padding:10px 0 8px;
        width:133px;
        text-align:center;
        text-transform:uppercase;
        border:2px solid $footerBtnBack;
        cursor:pointer;
        &:hover{
            background:transparent;
        }
    }
}