.gallery{
    @include flex();
    flex-wrap: nowrap;
    justify-content: center;
    a{
        display: block;
    }
    img{
        display:block;
        width:100%;
    }
    .gallery-padding{
        padding:2px;
        position:relative;
        &:before{
            position:absolute;
            content:'';
            left:2px;
            right:2px;
            top:2px;
            bottom:2px;
            @include transition($transition);
        }
        &:hover{
            &:before{
                background:rgba(0,0,0,.5);
            }
        }
    }
    .s-block-wrapper{
        @include flex();
        flex-wrap: nowrap;
        justify-content: center;
        a{
            flex-grow:1;
            flex-basis:50%;
        }
    }
}
.block-wrapper{
    flex-grow:1;
    flex-basis:20%;
}
.video-wrapper{
    &:after{
        position:absolute;
        content: "\e907";
        font-size:46px;
        color:#f2f2f2;
        top:50%;
        margin-top:-23px;
        left:0;
        right:0;
        text-align:center;
        @include icomoon();
        @include transition($transition);
        @include bp(m) {
            font-size:30px;
            margin-top:-15px;
        }
    }
    &:hover{
        &:after{
            color:#207cde;
        }
    }
}
.m-block-wrapper{
    &.video-wrapper{
        &:after{
            font-size:100px;
            margin-top:-50px;
            @include bp(m) {
                font-size:70px;
                margin-top:-35px;
            }
        }
    }
}
.fancybox-nav{
    &.fancybox-nav{
        height:90%;
        width:20%;
        @include bp(xs) {
            height:78%;
        }
    }
}