.list-wrapper{
    .item-2{
        border:2px solid $item2Back;
        padding:26px 25px 25px 125px;
        background:$item2Back;
        position:relative;

        &:before{
            position:absolute;
            top:50%;
            display:block;
            color:$item2Icon;
        }
        &:hover{
            border:2px solid $item2BorderHover;
            background:$item2BackHover;
            text-decoration:none;
        }
        .sup-text{
            color:$supText;
            font:14px/20px font(300);
            letter-spacing:0;
            margin-bottom:6px;
        }
        .main-text{
            color:$textColor;
            font-size:20px;
            letter-spacing:0;
            text-transform:uppercase;
            margin-bottom:5px;;
        }
        .sub-text{
            color:$subText;
            font-size:16px;
            letter-spacing:0;
        }
    }
    .row{
        margin-bottom:106px;
    }
}
.svg-settings{
    &:before{
        font-size:68px;
        margin-top:-34px;
        left:29px;
    }
}
.svg-placeholder{
    &:before{
        @include svgCenter(56px);
        left:37px;
    }
}
.svg-user{
    &:before{
        @include svgCenter(56px);
        left:37px;
    }
}
.svg-like{
    &:before{
        @include svgCenter(56px);
        left:31px;
    }
}
.svg-phone-call{
    &:before{
        @include svgCenter(56px);
        left:29px;
    }
}
.svg-phone-call{
    &:before{
        @include svgCenter(56px);
        left:31px;
    }
}
.svg-envelope{
    &:before{
        @include svgCenter(50px);
        left:36px;
    }
}