.top-block{
    color:$topHeaderLinks;
    text-align:center;
    @include bp(m) {
        margin-top:-87px;
    }
}
.top-block{
    background:url(#{$imgPath}top-bg.png) no-repeat;
    background-size:cover;
    padding:260px 0 43px;
    margin-top:-66px;
}
.top-title{
    text-transform:uppercase;
    font:44px/1 font(700);
}
.top-subtitle{
    text-transform:uppercase;
    font:24px/1 font(300);
    letter-spacing:1.5px;
    margin-bottom:125px;
}
.icon-wrapper{
    @include flex();
    flex-wrap: nowrap;
    justify-content: center;
    max-width: 940px;
    margin:0 auto;
    li{
        flex-grow: 1;
        flex-basis: 25%;
        padding: 0 17px;
    }
    a{
        display:block;
        position:relative;
        padding-top:104px;
        color:$topHeaderLinks;

        &:before{
            position:absolute;
            display:block;
            content:"";
            @include transition(all 0.1s linear);
        }
        &:hover{
            text-decoration:none;
            &:before{
                width:94px;
                height:94px;
                margin-left:-47px;
            }
        }
        span{
            letter-spacing:0;
        }
    }
}
.clock{
    &:before{
        top:0;
        left:50%;
        margin-left:-45px;
        width:90px;
        height:90px;
        background:url(#{$imgPath}clock.svg) no-repeat;
    }
}
.star{
    &:before{
        top:2px;
        left:50%;
        margin-left:-43px;
        width:86px;
        height:86px;
        background:url(#{$imgPath}star.svg) no-repeat;
    }
}
.music{
    &:before{
        top:2px;
        left:50%;
        margin-left:-43px;
        width:86px;
        height:86px;
        background:url(#{$imgPath}music.svg) no-repeat;
    }
}
.house{
    &:before{
        top:2px;
        left:50%;
        margin-left:-43px;
        width:86px;
        height:86px;
        background:url(#{$imgPath}house.svg) no-repeat;
    }
}