@import "compass";
@import "compass/reset";

$imgPath: "../images/";
$fontPath: "../fonts/";
$transition: all 0.2s ease-out;
$bodyBack: #fff;
$topHeaderLinks: #fff;
$footerText: #fff;
$inputBack: #fff;
$topBtn: #207cde;
$topBtnHover: #2d5bab;
$footerBtnColor: #fff;
$footerBtnBack: #00a0de;
$orangeBtnText: #000000;
$orangeBtn: #ff7200;
$orangeBtnHover: #fff;
$borderGrey: #e3e3e3;
$paragraphColor: #272b2d;
$textColor: #000;
$errorColor: #ff0000;
$moreInf: #cacaca;
$item2Back: #f2f2f2;
$item2Icon: #207cde;
$item2BorderHover: #ccc;
$item2BackHover: #fff;
$supText: #787878;
$subText: #7d7d7d;
$placeHolder: #5a5a5a;

/*FONTS*/
@import "_fonts";

/*Mixins + Functions*/
@import "_mixin";

/*General*/
@import "_general";

/*Header*/
@import "_header";

/*Top block*/
@import "_topBlock";

/*grid-wrapper*/
@import "_gridWrapper";

/*List wrapper*/
@import "_listWrapper";

/*Footer*/
@import "_footer";

/*Gallery*/
@import "_gallery";