@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*FONTS*/
@font-face {
  font-family: 'Museo 300';
  src: url("../fonts/MuseoSansCyrl300.eot");
  src: local("тШ║"), url("../fonts/MuseoSansCyrl300.woff") format("woff"), url("../fonts/MuseoSansCyrl300.ttf") format("truetype"), url("../fonts/MuseoSansCyrl300.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Museo 500';
  src: url("../fonts/MuseoSansCyrl500.eot");
  src: local("тШ║"), url("../fonts/MuseoSansCyrl500.woff") format("woff"), url("../fonts/MuseoSansCyrl500.ttf") format("truetype"), url("../fonts/MuseoSansCyrl500.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Museo 700';
  src: url("../fonts/MuseoSansCyrl700.eot");
  src: local("тШ║"), url("../fonts/MuseoSansCyrl700.woff") format("woff"), url("../fonts/MuseoSansCyrl700.ttf") format("truetype"), url("../fonts/MuseoSansCyrl700.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?qjuubj");
  src: url("../fonts/icomoon.eot?qjuubj#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?qjuubj") format("truetype"), url("../fonts/icomoon.woff?qjuubj") format("woff"), url("../fonts/icomoon.svg?qjuubj#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
.svg:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.svg-align-left:before {
  content: "\e900";
}

.svg-envelope:before {
  content: "\e901";
}

.svg-like:before {
  content: "\e902";
}

.svg-phone-call:before {
  content: "\e903";
}

.svg-placeholder:before {
  content: "\e904";
}

.svg-settings:before {
  content: "\e905";
}

.svg-user:before {
  content: "\e906";
}

.svg-play:before {
  content: "\e907";
}

/*Mixins + Functions*/
img {
  border: none;
}

a:focus,
a:hover {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}

*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.animat, a {
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

p {
  color: #272b2d;
}

body {
  font: 18px/24px "Museo 500", Arial, sans-serif;
  height: 100%;
  background: #fff;
  letter-spacing: 0.25px;
  min-width: 740px;
}

.clear:after {
  display: block;
  content: "";
  clear: both;
}

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
  min-width: 740px;
}

.content {
  max-width: 1350px;
  margin: 0 auto;
}
@media (max-width: 1440px) {
  .content {
    width: 960px;
  }
}
@media (max-width: 959px) {
  .content {
    width: 740px;
  }
}

.border-grey {
  border-bottom: 1px solid #e3e3e3;
  position: relative;
}

.grid-wrapper,
.gallery-wrapper,
.list-wrapper,
.footer {
  margin-top: 93px;
}

.h2, h2 {
  color: #000;
  margin: 0 0 43px;
  padding: 0;
  font: 40px/1.4 "Museo 700", Arial, sans-serif;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  text-align: center;
}

.row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-3 {
  padding: 0 12px 5px;
  width: 33.3%;
  min-height: 649px;
}
@media (max-width: 1440px) {
  .item-3 {
    min-height: 665px;
  }
}
@media (max-width: 959px) {
  .item-3 {
    min-height: 770px;
  }
}

.item-2 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  margin: 0 12px 24px;
  width: 46%;
}

.center {
  text-align: center;
}

.btn-section {
  position: absolute;
  bottom: -22px;
  left: 0;
  right: 0;
}

.btn {
  display: inline-block;
  vertical-align: top;
  color: #000000;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 11px 5px 9px;
  min-width: 164px;
  text-align: center;
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  border: 2px solid #ff7200;
  background-color: #ff7200;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.btn:hover:before {
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}
.btn:hover {
  text-decoration: none;
  color: #fff;
}

/*Header*/
.header {
  padding-top: 8px;
  position: relative;
  z-index: 2;
  font: 16px/1 "Museo 500", Arial, sans-serif;
  text-transform: uppercase;
}
.header ul a {
  color: #fff;
}

.logo {
  float: left;
  margin: 0 35px 0 10px;
  display: block;
  max-width: 58px;
  /*IE-fix*/
}
.logo img {
  display: block;
  max-width: 100%;
  height: 58px;
}
@media (max-width: 959px) {
  .logo {
    margin: 0 15px 0 0px;
  }
}

.header-menu {
  float: left;
  padding-top: 19px;
}
.header-menu li {
  display: inline-block;
  vertical-align: top;
  padding: 0 19px 0 21px;
}
@media (max-width: 959px) {
  .header-menu li {
    padding: 0 5px;
  }
}

.register-header-wrapper {
  float: right;
  padding-right: 22px;
  padding-top: 9px;
}
@media (max-width: 959px) {
  .register-header-wrapper {
    padding-right: 0;
  }
}
.register-header-wrapper li {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
@media (max-width: 959px) {
  .register-header-wrapper li {
    margin: 0 5px;
  }
}
.register-header-wrapper li a {
  display: block;
  width: 126px;
  text-align: center;
  line-height: 33px;
  border: 1px solid #207cde;
  background: #207cde;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.register-header-wrapper li a:hover {
  background: transparent;
  border-color: #2d5bab;
  text-decoration: none;
}

/*Top block*/
.top-block {
  color: #fff;
  text-align: center;
  background: url(../images/top-bg.png) no-repeat;
  background-size: cover;
  padding: 263px 0 41px;
  margin-top: -66px;
}
@media (max-width: 959px) {
  .top-block {
    margin-top: -87px;
  }
}

.top-title {
  text-transform: uppercase;
  font: 44px/1 "Museo 700", Arial, sans-serif;
  letter-spacing: .95px;
  margin-bottom: 13px;
}

.top-subtitle {
  text-transform: uppercase;
  font: 24px/1 "Museo 300", Arial, sans-serif;
  letter-spacing: 3.7px;
  margin-bottom: 130px;
}

.icon-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 940px;
  margin: 0 auto;
}
.icon-wrapper li {
  flex-grow: 1;
  flex-basis: 25%;
  padding: 0 17px;
}
.icon-wrapper a {
  display: block;
  position: relative;
  padding-top: 104px;
  color: #fff;
}
.icon-wrapper a:before {
  position: absolute;
  display: block;
  content: "";
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.icon-wrapper a:hover {
  text-decoration: none;
}
.icon-wrapper a:hover:before {
  width: 94px;
  height: 94px;
  margin-left: -47px;
}
.icon-wrapper a span {
  letter-spacing: 0;
}

.clock:before {
  top: 0;
  left: 50%;
  margin-left: -45px;
  width: 90px;
  height: 90px;
  background: url(../images/clock.svg) no-repeat;
}

.star:before {
  top: 2px;
  left: 50%;
  margin-left: -43px;
  width: 86px;
  height: 86px;
  background: url(../images/star.svg) no-repeat;
}

.music:before {
  top: 2px;
  left: 50%;
  margin-left: -43px;
  width: 86px;
  height: 86px;
  background: url(../images/music.svg) no-repeat;
}

.house:before {
  top: 2px;
  left: 50%;
  margin-left: -43px;
  width: 86px;
  height: 86px;
  background: url(../images/house.svg) no-repeat;
}

/*grid-wrapper*/
.grid-wrapper {
  padding-bottom: 60px;
  margin-bottom: 12px;
}

.more-inf {
  display: none;
  position: relative;
  bottom: -30px;
  text-transform: uppercase;
  color: #cacaca;
  font: 12px/22px "Museo 700", Arial, sans-serif;
  letter-spacing: 0;
}
.more-inf:before {
  display: inline-block;
  padding-right: 10px;
  content: "\e900";
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.article-preview {
  position: relative;
}
.article-preview .img-wrapper {
  display: block;
}
.article-preview .img-wrapper img {
  display: block;
  max-height: 100%;
  margin: 0 auto;
  max-width: 100%;
  width: auto;
}
.article-preview .preview-info {
  position: relative;
  top: 0;
  margin: 0 35px 0 0;
  background: #fff;
  padding: 31px 0 15px 0;
  letter-spacing: .25px;
}
.article-preview .preview-info p {
  margin: 0;
  font-size: 18px;
}
.article-preview:hover .preview-info {
  top: -44px;
}
.article-preview:hover .more-inf {
  display: block;
}

.preview-title {
  font-size: 24px;
  line-height: 30px;
  text-transform: capitalize;
  color: #000;
  margin-bottom: 4px;
}

/*Gallery*/
.gallery {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 92px;
}
.gallery h2, .gallery .h2 {
  margin-bottom: 47px;
}
.gallery a {
  display: block;
}
.gallery img {
  display: block;
  width: 100%;
}
.gallery .gallery-padding {
  padding: 2px;
  position: relative;
  text-decoration: none;
}
.gallery .gallery-padding:before {
  position: absolute;
  content: '';
  left: 2px;
  right: 2px;
  top: 2px;
  bottom: 2px;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.gallery .gallery-padding:hover:before {
  background: rgba(0, 0, 0, 0.5);
}
.gallery .s-block-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.gallery .s-block-wrapper a {
  flex-grow: 1;
  flex-basis: 50%;
}

.block-wrapper {
  flex-grow: 1;
  flex-basis: 20%;
}

.video-wrapper:after {
  position: absolute;
  content: "\e907";
  font-size: 46px;
  color: #f2f2f2;
  top: 50%;
  margin-top: -23px;
  left: 0;
  right: 0;
  text-align: center;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
@media (max-width: 959px) {
  .video-wrapper:after {
    font-size: 30px;
    margin-top: -15px;
  }
}
.video-wrapper:hover:after {
  color: #207cde;
}

.m-block-wrapper.video-wrapper:after {
  font-size: 100px;
  margin-top: -50px;
}
@media (max-width: 959px) {
  .m-block-wrapper.video-wrapper:after {
    font-size: 70px;
    margin-top: -35px;
  }
}

.fancybox-nav.fancybox-nav {
  height: 90%;
  width: 20%;
}
@media (max-width: 740px) {
  .fancybox-nav.fancybox-nav {
    height: 60%;
  }
}

/*List wrapper*/
.list-wrapper {
  margin-top: 99px;
}
.list-wrapper .h2, .list-wrapper h2 {
  margin-bottom: 44px;
}
.list-wrapper .item-2 {
  border: 2px solid #f2f2f2;
  padding: 25px 25px 21px 125px;
  background: #f2f2f2;
  position: relative;
}
.list-wrapper .item-2:before {
  position: absolute;
  top: 50%;
  display: block;
  color: #207cde;
}
.list-wrapper .item-2:hover {
  border: 2px solid #ccc;
  background: #fff;
  text-decoration: none;
}
.list-wrapper .item-2 .sup-text {
  color: #787878;
  font: 14px/20px "Museo 300", Arial, sans-serif;
  letter-spacing: 0;
  margin-bottom: 2px;
}
.list-wrapper .item-2 .main-text {
  color: #000;
  font-size: 20px;
  letter-spacing: 0;
  text-transform: uppercase;
  margin-bottom: 1px;
}
.list-wrapper .item-2 .sub-text {
  color: #7d7d7d;
  font-size: 16px;
  letter-spacing: 0;
}
.list-wrapper .row {
  margin-bottom: 106px;
}

.svg-settings:before {
  font-size: 68px;
  margin-top: -34px;
  left: 29px;
}

.svg-placeholder:before {
  font-size: 56px;
  margin-top: -28px;
  left: 37px;
}

.svg-user:before {
  font-size: 56px;
  margin-top: -28px;
  left: 37px;
}

.svg-like:before {
  font-size: 56px;
  margin-top: -28px;
  left: 31px;
}

.svg-phone-call:before {
  font-size: 56px;
  margin-top: -28px;
  left: 29px;
}

.svg-phone-call:before {
  font-size: 56px;
  margin-top: -28px;
  left: 31px;
}

.svg-envelope:before {
  font-size: 50px;
  margin-top: -25px;
  left: 36px;
}

/*Footer*/
.footer {
  background: url(../images/bottom-bg.png) no-repeat;
  background-size: cover;
  padding: 75px 0 139px;
  color: #fff;
  text-align: center;
  margin-top: 105px;
}

.footer-title {
  text-transform: uppercase;
  font-size: 44px;
  line-height: 1;
  margin-bottom: 13px;
}

.footer-sub-title {
  font-family: "Museo 300", Arial, sans-serif;
  letter-spacing: 0;
  margin-bottom: 40px;
}

.footer-form {
  width: 456px;
  margin: 0 auto;
}
.footer-form .input-wrapper {
  float: left;
  width: 310px;
  position: relative;
}
.footer-form .input-wrapper .place-holder {
  color: #5a5a5a;
  font: 16px/40px "Museo 300", Arial, sans-serif;
  letter-spacing: 0px;
  position: absolute;
  pointer-events: none;
  left: 18px;
  bottom: 0px;
}
.footer-form .input-wrapper input {
  width: 100%;
  padding: 0 18px;
  background: #fff;
  border: 1px solid #fff;
  font: 16px/40px "Museo 300", Arial, sans-serif;
  letter-spasing: 0;
  color: #000;
  height: 42px;
}
.footer-form .input-wrapper input.error {
  border: 1px solid #ff0000;
  color: #ff0000;
}
.footer-form .input-wrapper input:focus ~ .place-holder, .footer-form .input-wrapper input.valid ~ .place-holder, .footer-form .input-wrapper input.error ~ .place-holder {
  bottom: 80%;
  color: #fff;
}
.footer-form .input-wrapper label.error {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  color: #ff0000;
  text-align: left;
}
.footer-form .submit-wrapper {
  float: right;
  margin-left: 13px;
}
.footer-form .submit-btn {
  display: inline-block;
  vertical-align: top;
  background: #00a0de;
  color: #fff;
  font: 16px/20px "Museo 500", Arial, sans-serif;
  height: 42px;
  letter-spacing: 0;
  padding: 10px 9px 8px;
  width: 133px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #00a0de;
  cursor: pointer;
}
.footer-form .submit-btn:hover {
  background: transparent;
}
