@mixin bp( $point ) {
  @if $point == l {
    @media (max-width: 1440px) { @content; }
  }
  @else if $point == m {
    @media (max-width: 959px) { @content; }
  }
  @else if $point == xs {
    @media (max-width: 740px)  { @content; }
  }
}
@function font( $font ) {
    @if $font == 300 {
        @return "Museo 300", Arial, sans-serif
    }
    @else if $font == 500 {
        @return "Museo 500", Arial, sans-serif
    }
    @else if $font == 700 {
        @return "Museo 700", Arial, sans-serif
    }
}
@mixin svgCenter ( $font ) {
    font-size:$font;
    margin-top: -($font / 2);
}
@mixin icomoon () {
    font-family:'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@mixin flex (){
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}