$imgPath: "../images/";
$fontPath: "../fonts/";
$transition: all 0.2s ease-out;
$bodyBack: #fff;
$topHeaderLinks: #fff;
$footerText: #fff;
$inputBack: #fff;
$topBtn: #207cde;
$topBtnHover: #2d5bab;
$footerBtnColor: #fff;
$footerBtnBack: #00a0de;
$orangeBtnText: #000000;
$orangeBtn: #ff7200;
$orangeBtnHover: #fff;
$borderGrey: #e3e3e3;
$paragraphColor: #272b2d;
$textColor: #000;
$errorColor: #ff0000;
$moreInf: #cacaca;
$item2Back: #f2f2f2;
$item2Icon: #207cde;
$item2BorderHover: #ccc;
$item2BackHover: #fff;
$supText: #787878;
$subText: #7d7d7d;
$placeHolder: #5a5a5a;


@import "compass";
@import "compass/reset";
/*FONTS*/
@import "_fonts";
/*Mixins + Functions*/
@import "_mixin";


img {
    border: none;
}
a:focus,
a:hover {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
ul {
    list-style: none;
}
*, *:after, *:before {
    @include box-sizing(border-box);
}
a {
    text-decoration: none;
}
.animat, a {
    @include transition($transition);
}
p {
    color:$paragraphColor;
}
body {
    font: 18px/24px font(500);
    height: 100%;
    background: $bodyBack;
    letter-spacing:0.25px;
    min-width:740px;
}
.clear:after{
    display:block;
    content:"";
    clear:both;
}
.wrapper{
    @include flex();
    flex-direction:column;
    min-height:100%;
    height:100%;
    min-width:740px;
}
.content{
    max-width:1350px;
    margin:0 auto;
    @include bp(l) {
        width:960px;
    }
    @include bp(m) {
        width:740px;
    }
}
.border-grey{
    border-bottom:1px solid $borderGrey;
    position:relative;
}
.grid-wrapper,
.gallery-wrapper,
.list-wrapper,
.footer{
    margin-top:93px;
}
.h2, h2{
    color:$textColor;
    margin:0 0 43px;
    padding:0;
    font:40px/1.4 font(700);
    letter-spacing:0.75px;
    text-transform:uppercase;
    text-align:center;
}
.row{
    @include flex();
    flex-wrap:wrap;
    justify-content:center;
}
.item-3{
    padding:0 12px 5px;
    width:33.3%;
    min-height:649px;
    @include bp(l) {
        min-height:665px;
    }
    @include bp(m) {
        min-height:770px;
    }
}
.item-2{
    @include flex();
    flex-direction: column;
    justify-content: center;
    align-content:space-around;
    margin:0 12px 24px;
    width:46%;
}
.center{text-align:center;}
.btn-section{
    position:absolute;
    bottom:-22px;
    left:0;
    right:0;
}
.btn{
    display:inline-block;
    vertical-align:top;
    color:$orangeBtnText;
    font-size:14px;
    line-height:20px;
    text-transform:uppercase;
    padding:11px 5px 9px;
    min-width:164px;
    text-align:center;
    @include transform(translateZ(0));
    @include backface-visibility(hidden);
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    border:2px solid $orangeBtn;
    background-color: $orangeBtn;
    @include transition(color .3s);
    &:before{
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color:$orangeBtnHover;
        @include transform(scale(1));
        @include transition(transform .3s ease-out);
    }
    &:hover:before{
        @include transform(scale(0));
    }
    &:hover{
        text-decoration:none;
        color:$orangeBtnHover;
    }
}
/*Header*/
.header{
    padding-top:8px;
    position:relative;
    z-index:2;
    font:16px/1 font(500);
    text-transform:uppercase;
    ul{
        a{
            color:$topHeaderLinks;
        }
    }
}
.logo{
    float:left;
    margin: 0 35px 0 10px;
    display:block;
    max-width:58px;/*IE-fix*/
    img{
        display:block;
        max-width:100%;
        height:58px;
    }

    @include bp(m) {
        margin:0 15px 0 0px;
    }
}
.header-menu{
    float:left;
    padding-top:19px;
    li{
        display:inline-block;
        vertical-align:top;
        padding:0 19px 0 21px;   
        @include bp(m) {
            padding:0 5px;
        }
    }
}
.register-header-wrapper{
    float:right;
    padding-right:22px;
    padding-top:9px;
    @include bp(m) {
        padding-right:0;
    }

    li{
        display:inline-block;
        vertical-align:top;
        margin:0 8px;
        @include bp(m) {
            margin:0 5px;
        }

        a{
            display:block;
            width:126px;
            text-align:center;
            line-height:33px;
            border:1px solid $topBtn;
            background:$topBtn;
            @include border-radius(3px);
            &:hover{
                background:transparent;
                border-color:$topBtnHover;
                text-decoration:none;
            }
        }
    }
}
/*Top block*/
.top-block{
    color:$topHeaderLinks;
    text-align:center;
    background:url(#{$imgPath}top-bg.png) no-repeat;
    background-size:cover;
    padding:263px 0 41px;
    margin-top:-66px;
    @include bp(m) {
        margin-top:-87px;
    }
}
.top-title{
    text-transform:uppercase;
    font:44px/1 font(700);
    letter-spacing:.95px;
    margin-bottom:13px;
}
.top-subtitle{
    text-transform:uppercase;
    font:24px/1 font(300);
    letter-spacing:3.7px;
    margin-bottom:130px;
}
.icon-wrapper{
    @include flex();
    flex-wrap: nowrap;
    justify-content: center;
    max-width: 940px;
    margin:0 auto;
    li{
        flex-grow: 1;
        flex-basis: 25%;
        padding: 0 17px;
    }
    a{
        display:block;
        position:relative;
        padding-top:104px;
        color:$topHeaderLinks;

        &:before{
            position:absolute;
            display:block;
            content:"";
            @include transition(all 0.1s linear);
        }
        &:hover{
            text-decoration:none;
            &:before{
                width:94px;
                height:94px;
                margin-left:-47px;
            }
        }
        span{
            letter-spacing:0;
        }
    }
}
.clock{
    &:before{
        top:0;
        left:50%;
        margin-left:-45px;
        width:90px;
        height:90px;
        background:url(#{$imgPath}clock.svg) no-repeat;
    }
}
.star{
    &:before{
        top:2px;
        left:50%;
        margin-left:-43px;
        width:86px;
        height:86px;
        background:url(#{$imgPath}star.svg) no-repeat;
    }
}
.music{
    &:before{
        top:2px;
        left:50%;
        margin-left:-43px;
        width:86px;
        height:86px;
        background:url(#{$imgPath}music.svg) no-repeat;
    }
}
.house{
    &:before{
        top:2px;
        left:50%;
        margin-left:-43px;
        width:86px;
        height:86px;
        background:url(#{$imgPath}house.svg) no-repeat;
    }
}
/*grid-wrapper*/
.grid-wrapper{
    padding-bottom:60px;
    margin-bottom:12px;
}
.more-inf{
    display:none;
    position:relative;
    bottom:-30px;
    text-transform:uppercase;
    color:$moreInf;
    font:12px/22px font(700);
    letter-spacing:0;
    &:before{
        display:inline-block;
        padding-right:10px;
        content:"\e900";
        @include icomoon ();
    }
}
.article-preview{
    position:relative;
    .img-wrapper{
        display:block;
        img{
            display:block;
            max-height:100%;
            margin:0 auto;
            max-width:100%;
            width:auto;
        }
    }
    .preview-info{
        position:relative;
        top:0;
        margin:0 35px 0 0;
        background:#fff;
        padding:31px 0 15px 0;
        letter-spacing: .25px;
        p{
            margin:0;
            font-size:18px;
        }
    }

    &:hover{
        .preview-info{
            top:-44px;
        }
        .more-inf{
            display:block;
        }
    }
}
.preview-title{
    font-size:24px;
    line-height:30px;
    text-transform:capitalize;
    color:$textColor;
    margin-bottom:4px;
}
/*Gallery*/
.gallery{
    @include flex();
    flex-wrap: nowrap;
    justify-content: center;
    margin-top:92px;
    h2, .h2{
        margin-bottom:47px;
    }
    a{
        display: block;
    }
    img{
        display:block;
        width:100%;
    }
    .gallery-padding{
        padding:2px;
        position:relative;
        text-decoration:none;
        &:before{
            position:absolute;
            content:'';
            left:2px;
            right:2px;
            top:2px;
            bottom:2px;
            @include transition($transition);
        }
        &:hover{
            &:before{
                background:rgba(0,0,0,.5);
            }
        }
    }
    .s-block-wrapper{
        @include flex();
        flex-wrap: nowrap;
        justify-content: center;
        a{
            flex-grow:1;
            flex-basis:50%;
        }
    }
}
.block-wrapper{
    flex-grow:1;
    flex-basis:20%;
}
.video-wrapper{
    &:after{
        position:absolute;
        content: "\e907";
        font-size:46px;
        color:#f2f2f2;
        top:50%;
        margin-top:-23px;
        left:0;
        right:0;
        text-align:center;
        @include icomoon();
        @include transition($transition);
        @include bp(m) {
            font-size:30px;
            margin-top:-15px;
        }
    }
    &:hover{
        &:after{
            color:#207cde;
        }
    }
}
.m-block-wrapper{
    &.video-wrapper{
        &:after{
            font-size:100px;
            margin-top:-50px;
            @include bp(m) {
                font-size:70px;
                margin-top:-35px;
            }
        }
    }
}
.fancybox-nav{
    &.fancybox-nav{
        height:90%;
        width:20%;
        @include bp(xs) {
            height:60%;
        }
    }
}
/*List wrapper*/
.list-wrapper{
    margin-top:99px;
    .h2, h2{
        margin-bottom:44px;
    }
    .item-2{
        border:2px solid $item2Back;
        padding:25px 25px 21px 125px;
        background:$item2Back;
        position:relative;

        &:before{
            position:absolute;
            top:50%;
            display:block;
            color:$item2Icon;
        }
        &:hover{
            border:2px solid $item2BorderHover;
            background:$item2BackHover;
            text-decoration:none;
        }
        .sup-text{
            color:$supText;
            font:14px/20px font(300);
            letter-spacing:0;
            margin-bottom:2px;
        }
        .main-text{
            color:$textColor;
            font-size:20px;
            letter-spacing:0;
            text-transform:uppercase;
            margin-bottom:1px;
        }
        .sub-text{
            color:$subText;
            font-size:16px;
            letter-spacing:0;
        }
    }
    .row{
        margin-bottom:106px;
    }
}
.svg-settings{
    &:before{
        font-size:68px;
        margin-top:-34px;
        left:29px;
    }
}
.svg-placeholder{
    &:before{
        @include svgCenter(56px);
        left:37px;
    }
}
.svg-user{
    &:before{
        @include svgCenter(56px);
        left:37px;
    }
}
.svg-like{
    &:before{
        @include svgCenter(56px);
        left:31px;
    }
}
.svg-phone-call{
    &:before{
        @include svgCenter(56px);
        left:29px;
    }
}
.svg-phone-call{
    &:before{
        @include svgCenter(56px);
        left:31px;
    }
}
.svg-envelope{
    &:before{
        @include svgCenter(50px);
        left:36px;
    }
}
/*Footer*/
.footer{
    background:url(#{$imgPath}bottom-bg.png) no-repeat;
    background-size:cover;
    padding:75px 0 139px;
    color:$footerText;
    text-align:center;
    margin-top:105px;
}
.footer-title{
    text-transform:uppercase;
    font-size:44px;
    line-height:1;
    margin-bottom:13px;
}
.footer-sub-title{
    font-family: font(300);
    letter-spacing:0;
    margin-bottom:40px;
}
.footer-form{
    width:456px;
    margin:0 auto;
    .input-wrapper{
        float:left;
        width:310px;
        position:relative;
        .place-holder{
            color:$placeHolder;
            font:16px/40px font(300);
            letter-spacing:0px;
            position:absolute;
            pointer-events:none;
            left:18px;
            bottom:0px;
        }
        input{
            width:100%;
            padding:0 18px;
            background:$inputBack;
            border:1px solid $inputBack;
            font:16px/40px font(300);
            letter-spasing:0;
            color:$textColor;
            height:42px;
            &.error{
                border:1px solid $errorColor;
                color:$errorColor;
            }
            &:focus ~ .place-holder,
            &.valid ~ .place-holder,
            &.error ~ .place-holder{
                bottom:80%;
                color:$footerText;
            }
        }
        label.error{
            position:absolute;
            top:100%;
            left:0;
            right:0;
            color:$errorColor;
            text-align:left;
        }
    }
    .submit-wrapper{
        float:right;
        margin-left:13px;
    }
    .submit-btn{
        display:inline-block;
        vertical-align:top;
        background:$footerBtnBack;
        color:$footerBtnColor;
        font:16px/20px font(500);
        height:42px;
        letter-spacing:0;
        padding:10px 9px 8px;
        width:133px;
        text-align:center;
        text-transform:uppercase;
        border:2px solid $footerBtnBack;
        cursor:pointer;
        &:hover{
            background:transparent;
        }
    }
}