@charset "UTF-8";
@font-face {
  font-family: 'Museo 300';
  src: url("../fonts/MuseoSansCyrl300.eot");
  src: local("тШ║"), url("../fonts/MuseoSansCyrl300.woff") format("woff"), url("../fonts/MuseoSansCyrl300.ttf") format("truetype"), url("../fonts/MuseoSansCyrl300.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Museo 500';
  src: url("../fonts/MuseoSansCyrl500.eot");
  src: local("тШ║"), url("../fonts/MuseoSansCyrl500.woff") format("woff"), url("../fonts/MuseoSansCyrl500.ttf") format("truetype"), url("../fonts/MuseoSansCyrl500.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Museo 700';
  src: url("../fonts/MuseoSansCyrl700.eot");
  src: local("тШ║"), url("../fonts/MuseoSansCyrl700.woff") format("woff"), url("../fonts/MuseoSansCyrl700.ttf") format("truetype"), url("../fonts/MuseoSansCyrl700.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?rqwn4d");
  src: url("../fonts/icomoon.eot?rqwn4d#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?rqwn4d") format("truetype"), url("../fonts/icomoon.woff?rqwn4d") format("woff"), url("../fonts/icomoon.svg?rqwn4d#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
.svg:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.svg-align-left:before {
  content: "\e900";
}

.svg-user:before {
  content: "\e906";
}

.svg-envelope:before {
  content: "\e901";
}

.svg-like:before {
  content: "\e902";
}

.svg-phone-call:before {
  content: "\e903";
}

.svg-placeholder:before {
  content: "\e904";
}

.svg-settings:before {
  content: "\e905";
}

body {
  margin: 0;
  font: 18px/24px "Museo 500", Arial, sans-serif;
  height: 100%;
  background: #fff;
  letter-spacing: 0.25px;
}

*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav, header, footer, button, time, article, section, main {
  display: block;
}

img {
  border-style: none;
}

a {
  text-decoration: none;
}

.animate, a {
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

a:focus,
a:hover {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  color: #221100;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  color: #909090;
}

p {
  color: #272b2d;
}

.clear:after {
  display: block;
  content: "";
  clear: both;
}

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
  min-width: 740px;
}

.content {
  max-width: 1350px;
  margin: 0 auto;
}

.border-grey {
  border-bottom: 1px solid #e3e3e3;
  position: relative;
}

/*Header*/
.header {
  padding-top: 8px;
  position: relative;
  z-index: 2;
  font: 16px/1 "Museo 500", Arial, sans-serif;
  text-transform: uppercase;
}
.header ul a {
  color: #fff;
}

.logo {
  float: left;
  margin: 0 27px 0 10px;
  display: block;
}
.logo img {
  display: block;
  max-width: 100%;
  height: 58px;
}

.header-menu {
  float: left;
  padding-top: 19px;
}
.header-menu li {
  display: inline-block;
  vertical-align: top;
  padding: 0 22px;
}

.register-header-wrapper {
  float: right;
  padding-right: 16px;
  padding-top: 9px;
}
.register-header-wrapper li {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.register-header-wrapper li a {
  display: block;
  width: 126px;
  text-align: center;
  line-height: 33px;
  border: 1px solid #207cde;
  background: #207cde;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.register-header-wrapper li a:hover {
  background: transparent;
  border-color: #2d5bab;
  text-decoration: none;
}

/*End header*/
/*Top block*/
.top-block {
  color: #fff;
  text-align: center;
}

.top-title {
  text-transform: uppercase;
  font: 44px/1 "Museo 700", Arial, sans-serif;
}

.top-subtitle {
  text-transform: uppercase;
  font: 24px/1 "Museo 300", Arial, sans-serif;
  letter-spacing: 1.5px;
  margin-bottom: 125px;
}

.icon-wrapper li {
  width: 200px;
  margin: 0 17px;
  display: inline-block;
  vertical-align: top;
}
.icon-wrapper a {
  display: block;
  position: relative;
  padding-top: 104px;
  color: #fff;
}
.icon-wrapper a:before {
  position: absolute;
  display: block;
  content: "";
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.icon-wrapper a:hover {
  text-decoration: none;
}
.icon-wrapper a:hover:before {
  width: 94px;
  height: 94px;
  margin-left: -47px;
}
.icon-wrapper a span {
  letter-spacing: 0;
}

.clock:before {
  top: 0;
  left: 50%;
  margin-left: -45px;
  width: 90px;
  height: 90px;
  background: url(../images/clock.svg) no-repeat;
}

.star:before {
  top: 2px;
  left: 50%;
  margin-left: -43px;
  width: 86px;
  height: 86px;
  background: url(../images/star.svg) no-repeat;
}

.music:before {
  top: 2px;
  left: 50%;
  margin-left: -43px;
  width: 86px;
  height: 86px;
  background: url(../images/music.svg) no-repeat;
}

.house:before {
  top: 2px;
  left: 50%;
  margin-left: -43px;
  width: 86px;
  height: 86px;
  background: url(../images/house.svg) no-repeat;
}

/*End top block*/
.grid-wrapper,
.gallery-wrapper,
.list-wrapper,
.footer {
  margin-top: 106px;
}

.h2, h2 {
  color: #000000;
  margin: 0 0 50px;
  padding: 0;
  font: 40px/1.4 "Museo 700", Arial, sans-serif;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  text-align: center;
}

.row {
  margin: 0 -12px;
  font-size: 0px;
  letter-spacing: -4px;
}

.item-3,
.item-2 {
  display: inline-block;
  vertical-align: top;
}

.item-3 {
  padding: 0 12px 55px;
  width: 33.3%;
}

.item-2 {
  margin: 0 1% 2%;
  width: 48%;
}

.center {
  text-align: center;
}

.btn-section {
  position: absolute;
  bottom: -22px;
  left: 0;
  right: 0;
}

.btn {
  display: inline-block;
  vertical-align: top;
  color: #000000;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 11px 5px 9px;
  min-width: 164px;
  text-align: center;
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  border: 2px solid #ff7200;
  background-color: #ff7200;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.btn:hover:before {
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}
.btn:hover {
  text-decoration: none;
  color: #fff;
}

/*grid-wrapper*/
.grid-wrapper {
  padding-bottom: 58px;
}

.more-inf {
  display: none;
  position: relative;
  bottom: -30px;
  text-transform: uppercase;
  color: #cacaca;
  font: 12px/22px "Museo 700", Arial, sans-serif;
  letter-spacing: 0;
}
.more-inf:before {
  display: inline-block;
  padding-right: 10px;
}

.article-preview {
  height: 625px;
  position: relative;
}
.article-preview .img-wrapper {
  display: block;
  height: 288px;
}
.article-preview .img-wrapper img {
  display: block;
  max-height: 100%;
  margin: 0 auto;
  max-width: 100%;
  width: auto;
}
.article-preview .preview-info {
  position: relative;
  top: 0;
  margin: 0 35px 0 0;
  background: #fff;
  padding: 30px 0 15px 0;
  letter-spacing: .25px;
}
.article-preview .preview-info p {
  margin: 0;
  font-size: 18px;
}
.article-preview:hover .preview-info {
  top: -48px;
}
.article-preview:hover .more-inf {
  display: block;
}

.preview-title {
  font-size: 24px;
  line-height: 30px;
  text-transform: capitalize;
  color: #000;
  margin-bottom: 8px;
}

/*End grid-wrapper*/
/*List wrapper*/
.list-wrapper .item-2 {
  border: 2px solid #f2f2f2;
  background: #f2f2f2;
  padding: 27px 25px 25px 125px;
  position: relative;
}
.list-wrapper .item-2:before {
  position: absolute;
  top: 50%;
  display: block;
  color: #207cde;
}
.list-wrapper .item-2:hover {
  border: 2px solid #ccc;
  background: #fff;
  text-decoration: none;
}
.list-wrapper .item-2 .sup-text {
  color: #787878;
  font: 14px/20px "Museo 300", Arial, sans-serif;
  letter-spacing: 0;
  margin-bottom: 6px;
}
.list-wrapper .item-2 .main-text {
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.list-wrapper .item-2 .sub-text {
  color: #7d7d7d;
  font-size: 16px;
  letter-spacing: 0;
}
.list-wrapper .row {
  margin-bottom: 106px;
}

.svg-settings:before {
  font-size: 68px;
  margin-top: -34px;
  left: 29px;
}

.svg-placeholder:before {
  font-size: 56px;
  margin-top: -28px;
  left: 37px;
}

.svg-user:before {
  font-size: 56px;
  margin-top: -28px;
  left: 37px;
}

.svg-like:before {
  font-size: 56px;
  margin-top: -28px;
  left: 31px;
}

.svg-phone-call:before {
  font-size: 56px;
  margin-top: -28px;
  left: 29px;
}

.svg-phone-call:before {
  font-size: 56px;
  margin-top: -28px;
  left: 31px;
}

.svg-envelope:before {
  font-size: 50px;
  margin-top: -25px;
  left: 36px;
}

/*End list wrapper*/
/*Footer*/
.footer {
  background: url(../images/bottom-bg.png) no-repeat;
  background-size: cover;
  padding: 74px 0 139px;
  color: #fff;
  text-align: center;
}

.footer-title {
  text-transform: uppercase;
  font-size: 44px;
  line-height: 1;
  margin-bottom: 13px;
}

.footer-sub-title {
  font-style: "Museo 300", Arial, sans-serif;
  letter-spacing: 0;
  margin-bottom: 43px;
}

.footer-form {
  width: 456px;
  margin: 0 auto;
}
.footer-form .input-wrapper {
  float: left;
  width: 310px;
  position: relative;
}
.footer-form .input-wrapper .place-holder {
  color: #5a5a5a;
  font: 16px/40px "Museo 300", Arial, sans-serif;
  letter-spacing: 0px;
  position: absolute;
  pointer-events: none;
  left: 18px;
  bottom: 0px;
}
.footer-form .input-wrapper input {
  width: 100%;
  padding: 0 18px;
  background: #fff;
  border: 1px solid #fff;
  font: 16px/40px "Museo 300", Arial, sans-serif;
  letter-spasing: 0;
  color: #000;
  height: 42px;
}
.footer-form .input-wrapper input.error {
  border: 1px solid #ff0000;
  color: #ff0000;
}
.footer-form .input-wrapper input:focus ~ .place-holder, .footer-form .input-wrapper input.valid ~ .place-holder, .footer-form .input-wrapper input.error ~ .place-holder {
  bottom: 80%;
  color: #fff;
}
.footer-form .input-wrapper label.error {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  color: #ff0000;
  text-align: left;
}
.footer-form .submit-wrapper {
  float: right;
  margin-left: 13px;
}
.footer-form .submit-btn {
  display: inline-block;
  vertical-align: top;
  background: #00a0de;
  color: #fff;
  font: 16px/20px "Museo 500", Arial, sans-serif;
  letter-spacing: 0;
  padding: 10px 0 8px;
  width: 133px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #00a0de;
  cursor: pointer;
}
.footer-form .submit-btn:hover {
  background: transparent;
}

/*End Footer*/
.placeholder::-webkit-input-placeholder {
  color: #5a5a5a;
  font: 16px/40px "Museo 300", Arial, sans-serif;
  letter-spacing: 0px;
}

.placeholder:-moz-placeholder {
  color: #5a5a5a;
  opacity: 1;
  font: 16px/40px "Museo 300", Arial, sans-serif;
  letter-spacing: 0px;
}

.placeholder::-moz-placeholder {
  color: #5a5a5a;
  opacity: 1;
  font: 16px/40px "Museo 300", Arial, sans-serif;
  letter-spacing: 0px;
}

.placeholder:-ms-input-placeholder {
  color: #5a5a5a;
  font: 16px/40px "Museo 300", Arial, sans-serif;
  letter-spacing: 0px;
}

.top-block {
  background: url(../images/top-bg.png) no-repeat;
  background-size: cover;
  padding: 260px 0 43px;
  margin-top: -66px;
}

@media and screen and (max-width: 1440px) {
  .content {
    width: 960px;
  }
}
@media and screen and (max-width: 959px) {
  .content {
    width: 740px;
  }
}
